[Desktop Entry]
Type=Application
Name=Pinax
Exec=pinax
Comment=Wayland mobile notepad
Icon=Pinax
Categories=Utility;TextTools
Keywords=mobile;wayland
